<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by 林璨德</title>


</head>
<body>
<!-- partial:index.partial.html -->
<html>

<head>
    <title>無標題文件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" charset="UTF-8"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">


</head>

<body bgcolor="#FFFFFF" text="#000000">
    <table name="form1" method="post" action="">
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4" >第一個<br>
                    <img src="{{ url_for('static', filename='images/aki.jpg') }}";>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4" >第二個<br>
                    <img src="{{ url_for('static', filename='images/aqua.jpg') }}";>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4" >第三個<br>
                    <img src="{{ url_for('static', filename='images/fubu.jpg') }}";>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4">第四個<br>
                    <img src="{{ url_for('static', filename='images/hato.jpg') }}";>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4" >第五個<br>
                    <img src="{{ url_for('static', filename='images/mel.jpg') }}";>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4" >第六個<br>
                    <img src="{{ url_for('static', filename='images/miko.jpg') }}";>
                </label>
            </td>
            <td>

                <label>
                    <input type="checkbox" name="checkbox_4" >第七個<br>
                    <img src="{{ url_for('static', filename='images/natsu.jpg') }}";>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4">第八個<br>
                    <img src="{{ url_for('static', filename='images/rbc.jpg') }}";>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4" >第九個<br>
                    <img src="{{ url_for('static', filename='images/sora.jpg') }}";>
                </label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="checkbox_4" >第十個<br>
                    <img src="{{ url_for('static', filename='images/sui.jpg') }}";>
                </label>
            </td>
        </tr>
    </table>
</body>


</html>
<!-- partial -->
 <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
